[include]
  path = ~/.local.gitconfig
[core]
  editor = /usr/bin/env vim
[alias]
  change-date = "!git commit --amend --date='$1'"
  push-branch = "!git push -u origin $(git rev-parse --abbrev-ref HEAD)"
  lg = log --graph --pretty=format:'%C(yellow)%d%Creset %C(cyan)%h%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short --all
[credential]
	helper = osxkeychain
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
